
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: hsla(23, 62%, 95%, 0.25);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    align-content: space-around;
}

section {
    margin: 0.5em;
}

header {
    background-color: #3d3d3d;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 15px 30px;
}
